<p *ngIf="loginDataSource.notLoggedIn()">Login please</p>

<div *ngIf="loginDataSource.loggedIn()">
    <div class="logo"></div>
    <div class="info">
      <h2>Ewout shop</h2>
    </div><!--End Info-->

  <div id="mid">
    <div class="info">
      <h2>Contact Info</h2>
<!--        <p>Address : {{loginDataSource.user.street}} {{loginDataSource.user.number}}</p>-->
<!--        <p>Place   : {{loginDataSource.user.place}}</p>-->
<!--        <p>Zip code   : {{loginDataSource.user.zip}}</p>-->
    </div>
  </div><!--End Invoice Mid-->

  <div id="bot">

    <div id="table">
      <table>
        <tr class="tabletitle">
          <td class="item"><h2>Item</h2></td>
          <td class="Hours"><h2>Qty</h2></td>
          <td class="Rate"><h2>Sub Total</h2></td>
        </tr>

        <tr *ngFor="let product of checkoutDataSource.productList" class="service">
          <td class="tableitem"><p class="itemtext">{{product.name}}</p></td>
          <td class="tableitem"><input class="itemtext" id="quantity" type="text"></td>
          <td class="tableitem"><p class="itemtext">${{product.price}}.-</p></td>
        </tr>

        <tr class="tabletitle">
          <td></td>
          <td class="Rate"><h2>Total</h2></td>
          <td class="payment"><h2>${{totalAmount}}.-</h2></td>
        </tr>
        <button class="button" type="submit" (click)="order()">Order</button>
      </table>
    </div>
