<div class="topnav">
  <a *ngIf="loginDataSource.notLoggedIn()" routerLink="/login">Inloggen</a>
  <a *ngIf="loginDataSource.notLoggedIn()" routerLink="/register">Registeren</a>
  <a *ngIf="loginDataSource.isAdmin()" routerLink="/admin">Admin Paneel</a>
  <a *ngIf="loginDataSource.loggedIn()" (click)="logout()" routerLink="/">Uitloggen</a>
  <a routerLink="/">Home</a>
  <a style="float:right" routerLink="/cart">Winkelwagen</a>
</div>
